#container {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #003049;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



menu {
    font-size: 120%;
}

table,
th,
td {
    border: 1px solid;
}

div {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}