#container {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #003049;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

menu {
    font-size: 120%;
}

table,
th,
td {
    border: 1px solid;
    width: 50%;
}

div {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}